#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pair-game {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
  }

  .card {
    position: relative;
    width: 80px;
    height: 100px;
    background-color: gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .card.flipped {
    background-color: #5f9ea0;
  }

  .card.matched {
    background-color: green;
    cursor: default;
  }

  .card .card-value {
    color: #ffffff;
  }
}

.player-stats {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
}

.leaderboard {
  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .level {
    font-weight: 800;
    font-size: larger;
  }

  .buttons-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
  }
}

.leaderboard li {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.leaderboard ul {
  padding: 0;
}

.leaderboard span {
  flex: 1;
}
